{% extends "base.html" %}
{% block content %}
<h2>Sources <button hx-post="/source/crawl" hx-target="#source-documents">Crawl </button>
    <img class="htmx-indicator" src="https://htmx.org/img/bars.svg" alt="">
</h2>
<dl id="source-documents">
    {% for id, source in sources %}
    <dt>
        <a href="{{ source.url }}" target="_blank">{{ source.url | truncate(length=50)}} ↗</a>
    </dt>
    <dd>
        {% if source.crawl_date %}
        Crawled on {{ source.crawl_date }}
        {% if source.force_crawl %}
        {% set force_crawl_checked = "checked" %}
        {% else %}
        {% set force_crawl_checked = "" %}
        {% endif %}
        <input type="checkbox" id="force-crawl-{{ id }}" value="{{ source.force_crawl }}" {{ force_crawl_checked }}>
        <label for="force-crawl-{{ id }}">Force crawl</label>
        {% else %}
        Not crawled yet
        {% endif %}
        {% set documents = source.documents %}
        {% for id, document in documents %}
        <dl>
            <dt>{{ document.title }} ({{ id | truncate(length=6) }})</dt>
            <dd>
                {{ document.retrieved }} | {{ document.etag }}
            </dd>
        </dl>

        {% endfor %}
    </dd>
    {% endfor %}
</dl>
{% endblock content %}