<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pika</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" crossorigin="anonymous"></script>
</head>

<body hx-boost="true">
    <header><b>Pika</b></header>
    {% block content %}{% endblock content %}
    <footer>
        <hr />
        <div class="attribution">
            Made with <span aria-label="Love" style="color: #f43f5e">&hearts;</span>
            in Chennai by
            <a href="https://arunkd13.github.io" target="_blank">arunkd13</a><br>
        </div>
    </footer>
</body>

</html>