
<!DOCTYPE html>
<html lang="en">
    <body>
        <dl>
        {% for schema, properties in entity.properties %}
            <dt>{{ schema }}</dt>
            <dd>
            {% for property, typval in properties %}                
            <dl>
                <dt>{{ property }}</dt>
                {% for type, value in typval %}
                    {% if type == "Name" %}
                        <dd>{{ value }}</dd>
                    {% endif %}
                {% endfor %}
            </dl>
            {% endfor %}
            </dd>
        {% endfor %}
        </dl>
    </body>
</html>